WcfAutokauppa1/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50070/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfT6autoserver" />
  <xs:element name="TestDatabaseConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDatabaseConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestDatabaseConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfT6autoserver" minOccurs="0" name="pirssi" nillable="true" type="q1:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveAutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAutoMakers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAutoMakersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfT6autoserver" minOccurs="0" name="getAllAutoMakersResult" nillable="true" type="q2:ArrayOfautonMerkit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAutoModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merkkiId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAutoModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfT6autoserver" minOccurs="0" name="getAutoModelsResult" nillable="true" type="q3:ArrayOfautonMallit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarColors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarColorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfT6autoserver" minOccurs="0" name="GetCarColorsResult" nillable="true" type="q4:ArrayOfVarit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarFuels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarFuelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfT6autoserver" minOccurs="0" name="GetCarFuelsResult" nillable="true" type="q5:ArrayOfPolttoaine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfT6autoserver" minOccurs="0" name="NextAutoResult" nillable="true" type="q6:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrevAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrevAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfT6autoserver" minOccurs="0" name="PrevAutoResult" nillable="true" type="q7:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>