WcfAutokauppa1/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfT6autoserver" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfT6autoserver" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Auto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutonMalliID" type="xs:int" />
      <xs:element minOccurs="0" name="AutonMerkkiID" type="xs:int" />
      <xs:element minOccurs="0" name="Hinta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mittarilukema" type="xs:int" />
      <xs:element minOccurs="0" name="Moottorin_Tilavuus" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolttoaineID" type="xs:int" />
      <xs:element minOccurs="0" name="Rekisteri_paivamaara" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VaritID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auto" nillable="true" type="tns:Auto" />
  <xs:complexType name="ArrayOfautonMerkit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="autonMerkit" nillable="true" type="tns:autonMerkit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfautonMerkit" nillable="true" type="tns:ArrayOfautonMerkit" />
  <xs:complexType name="autonMerkit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MerkkiNimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="autonMerkit" nillable="true" type="tns:autonMerkit" />
  <xs:complexType name="ArrayOfautonMallit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="autonMallit" nillable="true" type="tns:autonMallit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfautonMallit" nillable="true" type="tns:ArrayOfautonMallit" />
  <xs:complexType name="autonMallit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MalliNimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerkkiId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="autonMallit" nillable="true" type="tns:autonMallit" />
  <xs:complexType name="ArrayOfVarit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Varit" nillable="true" type="tns:Varit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVarit" nillable="true" type="tns:ArrayOfVarit" />
  <xs:complexType name="Varit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Varin_nimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Varit" nillable="true" type="tns:Varit" />
  <xs:complexType name="ArrayOfPolttoaine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Polttoaine" nillable="true" type="tns:Polttoaine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolttoaine" nillable="true" type="tns:ArrayOfPolttoaine" />
  <xs:complexType name="Polttoaine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Polttoaineen_nimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Polttoaine" nillable="true" type="tns:Polttoaine" />
</xs:schema>